body {
    max-width: 1020px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}

.wrapper {
    max-width: 1020px
}

.header {
    position: fixed;
    background-color: #2D303A;
    width: 1020px;
}

.header__wrapper, .footer__wrapper {
    display: flex;
    align-items: center;
    background-color: darkolivegreen;
}

.header__nav {
    display: flex;
    margin: 20px auto;
}

.my-photo {
    height: 135px;
    width: 120px;
    border-radius: 5%;
}

h1 {
    margin-left: 180px;
    color: rgb(51, 43, 43);
    font-size: 40px;
    font-weight: 500;
}

.main__wrapper {
    background-color: burlywood;
    padding-right: 50px;
}

.deco {
    padding-left: 20px;
}

h3 {
    display: flex;
    width: 35%;
    margin-right: 150px;
    justify-content: flex-end;
    color: rgb(58, 32, 32);
}

li {
    margin: 10px 0px;
}

.footer__li {
    padding-right: 150px;
    text-decoration: none;
    color: rgb(51, 43, 43);
}

.footer__li:first-child {
    list-style-type: none;
}

p {
    margin-left: 10px;
}

.part {
    display: flex;
    justify-content: space-around;
}

.text {
    width: 65%;
}

.footer__wrapper {
    padding: 0 150px;
}

.footer__nav {
    display: flex;

}

.footer__list {
    display: flex;
    align-items: center;
}

.rss-photo {
    height: 100px;
    width: 120px;
}

a:-webkit-any-link {
    color: rgb(17, 16, 16);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
